{% extends 'base.html.twig' %}

{% block body %}
    <a class = "btn btn-default" href="/">Back to every1</a>
    <hr>
    <h3 class="page-header">{{ articles.title }} </h3>
    <ul class="list-group">
        <li class="list-group-item">Content:<strong>{{ articles.content }}</strong></li>
        <li class="list-group-item">Author:<strong>{{ articles.author.firstname }} {{ articles.author.lastname }}</strong></li>
    </ul>
{% endblock %}