<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Persons!{% endblock %}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('list_persons') }}">PERSONAS</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if app.user %}
                    <li><a href="{{ path('add_person') }}">{{ 'translate.add'|trans }}</a></li>

                    <li><a href="{{ path('add_article') }}">{{ 'translate.add.article'|trans  }}</a></li>

                    <li><a href="{{ path('support_form') }}">{{ 'translate.contact'|trans  }}</a></li>

                    <li><a href="{{ logout_path('main') }}">{{ 'translate.logout'|trans }}</a></li>




                    {% endif %}
                    {% if not app.user %}
                    <li><a href="{{ path('registration') }}">{{ 'translate.register'|trans }}</a></li>
                    <li><a href="{{ path('login') }}">{{ 'translate.login'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">{{ flash_message }}</div>
    {% endfor %}
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
