{% extends 'base.html.twig' %}


    {% block body %}
    <div class="container">
        {{ form_start(form)}}
        {{ form_widget(form)}}
        {{ form_end(form)}}
    </div>
    {% endblock %}
