{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

<button type="submit" class="btn btn-success">{{ 'translate.submit'|trans }}!</button>
{{ form_end(form) }}

{% endblock %}