<html>
<head>
    <style>

    </style>
</head>
<body>

<uk>
        <li><a href="#">{{ 'translate.link1'|trans }}</a></li>
        <li><a href="#">{{ 'translate.link2'|trans }}</a></li>
        <li><a href="#">{{ 'translate.link3'|trans }}</a></li>

</uk>

</body>
</html>