{% extends 'base.html.twig' %}

{% block body %}
    <a class = "btn btn-default" href="/">Back to every1</a>
    <hr>
    <h3 class="page-header">{{ person.firstname }} {{ person.lastname }}</h3>
    <ul class="list-group">
        <li class="list-group-item">City:<strong>{{ person.city }}</strong></li>
        <li class="list-group-item">Adress:<strong>{{ person.adress }}</strong></li>
        <li class="list-group-item">Birthdate:<strong>{{ person.birthdate|date ('y.m.d') }}</strong></li>
        <li class="list-group-item">Phone:<strong>{{ person.phone }}</strong></li>
        <li class="list-group-item">Email:<strong>{{ person.email }}</strong></li>
        <li class="list-group-item">Gender:<strong>{{ person.gender }}</strong></li>
    </ul>
    <h3 class="page-header">Enrolled Courses</h3>
    <ul class="list-group">
        {% for course in courses %}
                <li class="list-group-item">Title:<strong>{{ course.title }}</strong></li>
            <a href="{{ path('remove_course', {'studId': person.id, 'id':course.id }) }}" class="btn btn-info">Remove</a>
        {% endfor %}
    </ul>
{% endblock %}