{% extends 'base.html.twig' %}



{% block body %}
    <h2 class="page-header">Persons</h2>
    {% if app.user != null %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'translate.firstname'|trans }}</th>
            <th>{{ 'translate.lastname'|trans }}</th>
            <th>{{ 'translate.city'|trans }}</th>
            <th>{{ 'translate.adress'|trans }}</th>
            <th>{{ 'translate.birthdate'|trans }}</th>
            <th>{{ 'translate.phone'|trans }}</th>
            <th>{{ 'translate.email'|trans }}</th>
            <th>{{ 'translate.gender'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for person in persons  %}
            <tr>
                <th scope="row">{{person.id}}</th>
                <td>{{ person.firstname }}</td>
                <td>{{ person.lastname }}</td>
                <td>{{ person.city }}</td>
                <td>{{ person.adress }}</td>
                <td>{{ person.birthdate|date('m.d.y') }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.gender }}</td>
                <td>
                    <a href="{{ path('detail_person', {'id':person.id}) }}" class="btn btn-info">{{ 'translate.view'|trans }}</a>
                    <a href="{{ path('edit_person', {'id':person.id}) }}" class="btn btn-success">{{ 'translate.edit'|trans }}</a>
                    <a href="{{ path('delete_person', {'id':person.id}) }}" class="btn btn-danger">{{ 'translate.delete'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <h2 class="page-header">Articles</h2>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row">{{article.id}}</th>
               <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.author.firstname }} {{ article.author.lastname }}</td>
                <td>
                    <a href="{{ path('show_articles', {'id':article.id}) }}" class="btn btn-info">{{ 'translate.view'|trans }}</a>
                    <a href="{{ path('edit_article', {'id':article.id}) }}" class="btn btn-success">{{ 'translate.edit'|trans }}</a>
                    <a href="{{ path('delete_article', {'id':article.id}) }}" class="btn btn-danger">{{ 'translate.delete'|trans }}</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
        </table>

    <h2 class="page-header">Courses</h2>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>

            <th>Enrolled Students</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{course.id}}</td>
                <td>{{ course.title }}</td>
                <td>
                    {% for st in course.student %}
                        <div>
                            {{ st.firstname }} {{ st.lastname }}
                        </div>
                    {% endfor %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <h2 class="page-header">Rent a Car</h2>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Brand</th>
            <th>Driver</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {#{% for car in cars %}#}
            {#<tr>#}
                {#<td>{{car.id}}</td>#}
                {#<td>{{ car.brand }}</td>#}
                {#<td> {{ car.driver }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
        {#</table>#}
        {% endif %}

    {% if app.user == null %}
        <a href="{{ path('login') }}" class="btn btn-info">{{ 'translate.login.message'|trans }}</a>
    {% endif %}
{% endblock %}